# Common
node_modules/
dist/
build/
.next/
out/
.DS_Store
*.log
.env
.env.*

# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
debug_error.log
test_out.txt

# OS
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project Specific
infra/milvus/volumes/
infra/redis/data/
